
button{
    position: absolute;
    top: 50px;
    left: 50px;
    background-color: #14591D;
    border: 2px solid #0A210F;
    padding: 10px;
}

button:hover{
    color: #fefefe;
    background-color: #0A210F;
}