.empty{
    height: 100px;
    width: 100%;
}

h2,h4{
    text-align: center;
}

.btn{
    display: flex;
    justify-content: center;
}

button{
    padding: 10px 20px;
}

a{
    text-decoration: none;
    color: black;
}